# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
dist/
build/
*.egg-info/
node_modules

# Virtual environments
venv/
env/
venv

#Secrets
.env
llama3hackathon/

